<section ng-controller="ClusterController as vm" class="jumbotron">
    <div style="margin-top: -3em;" class="container">
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>Plugin</th>
                                <th>Version</th>
                                <th>Status</th>
                                <th>Master Nodes</th>
                                <th>Worker Nodes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cluster in vm.Clusters">
                                <th scope="row">{{cluster.name}}</th>
                                <td>{{cluster.plugin_name}}</td>
                                <td>{{cluster.hadoop_version}}</td>
                                <td class="info loading">{{cluster.status}}</td>
                                <td>{{cluster.node_groups[0].count}}</td>
                                <td>{{cluster.node_groups[1].count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</section>



<style>
.navbar {
  margin-bottom: 0;
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 80rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
</style>