<section ng-controller="ComputeController as vm" class="jumbotron">
    <div style="margin-top: -3em;" class="container">
        <!--<h1 class="jumbotron-heading">OpenStack Instances</h1>
        <table style="margin-top: 1em;" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in vm.ServerList">
                    <th scope="row">{{server.name}}</th>
                    <td>{{server.created | date: 'short' : 'EST'}}</td>
                    <td>{{server.status}}</td>
                </tr>
            </tbody>
        </table>
        <br />-->
        <form>
            <!--<button ng-click="vm.ConfigMode = !vm.ConfigMode" type="button" class="btn btn-primary">
                <span ng-show="!vm.ConfigMode">Show Advanced Settings</span>
                <span ng-show="vm.ConfigMode">Show Basic Settings</span>
            </button>-->
            <div ng-show="!vm.ConfigMode" style="margin-top: 1em;" id="basic-mode">
                <div>
                    <h4 style="font-weight: 200; margin-top: 0em;">General Configuration</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Plugin</label>
                                <select ng-init="vm.Cluster.Plugin = 'vanilla'" class="form-control" required ng-model="vm.Cluster.Plugin" ng-options="plugin.name as plugin.title for plugin in vm.Plugins"></select>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <small>Master Processes:<br /></small>
                                        <small ng-if="vm.Cluster.Plugin == 'vanilla'">
                                            namenode, resourcemanager, oozie, historyserver
                                        </small>
                                        <small ng-if="vm.Cluster.Plugin == 'spark'">
                                            namenode, master
                                        </small>
                                        <small ng-if="vm.Cluster.Plugin == 'storm'">
                                            nimbus
                                        </small>
                                    </div>
                                    <div class="col-sm-6">
                                        <small>Worker Processes:<br /></small>
                                        <small ng-if="vm.Cluster.Plugin == 'vanilla'">
                                            datanode, nodemanager
                                        </small>
                                        <small ng-if="vm.Cluster.Plugin == 'spark'">
                                            datanode, slave
                                        </small>
                                        <small ng-if="vm.Cluster.Plugin == 'storm'">
                                            supervisor
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cluster Name</label>
                                <input class="form-control" required ng-model="vm.Cluster.Name" placeholder="My cluster" type="text" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4 style="font-weight: 200;">Hardware Configuration</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label>Instance Type</label>
                                <select ng-init="vm.Cluster.Flavor = '2'" class="form-control" required ng-model="vm.Cluster.Flavor" ng-options="flavor.id as flavor.name for flavor in vm.Flavors"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Number of Instances</label>
                                <input ng-change="vm.VerifyClusterCount()" required ng-init="vm.Cluster.InstanceCount = 3" class="form-control" type="number" ng-model="vm.Cluster.InstanceCount" />
                                <small>(1 master and {{vm.Cluster.NodeCount}} nodes)</small>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4 style="font-weight: 200;">Security and Access</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Key Pair</label>
                                <select class="form-control" required ng-model="vm.Cluster.KeyPair" ng-options="kp.name as kp.name for kp in vm.KeyPairs"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Network</label>
                                <select class="form-control" required ng-model="vm.Cluster.Network" ng-options="net.id as net.name for net in vm.Networks"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="job-upload">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row" style="margin-bottom: 2em;">
                                <div class="col-sm-6">
                                    <h4 style="font-weight: 200; margin-top: 0em; margin-bottom: .5em;">Upload Job Binary</h4>
                                    <input id="upload-input" type="file" name="uploads[]">
                                    <button ng-click="vm.UploadBinary()" class="btn btn-primary upload-btn" type="button">Upload Binary</button>
                                </div>
                                <br />
                                <div class="col-sm-6">
                                    <div style="word-wrap:break-word;" ng-show="vm.BinaryUrl != ''" class="card card-block" role="alert">
                                        <small class="text-muted">{{vm.BinaryUrl}}</small>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 style="font-weight: 200; margin-top: 0em; margin-bottom: .5em;">Job Input File(s)</h4>
                                    <ul class="list-group">
                                        <li ng-repeat="obj in vm.InputFiles" class="list-group-item">
                                            <span>{{obj.name}}</span>&nbsp;-&nbsp;
                                            <span class="text-muted">({{obj.url}})</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div style="word-wrap:break-word;" ng-show="vm.LaunchSuccess" class="card card-block" role="alert">
                                <div class="progress">
                                    <div id="cluster-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;">{{vm.ClusterDetails.status}}</div>
                                </div>
                                <br />
                                <b>Cluster name:</b> {{vm.ClusterDetails.name}}
                                <br />
                                <b>Cluster public key:</b> {{vm.ClusterDetails.management_public_key}}
                                <br />
                                <b>Created at:</b> {{vm.ClusterDetails.created_at}}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row justify-content-end">
                        <div class="col col-sm-2">
                            <div class="form-group">
                                <button href="" ng-click="vm.LaunchCluster(); vm.Launching = true;" ng-disabled="vm.Launching" style="margin-top: 1em; float: right;" class="btn btn-primary btn-block">Launch Cluster</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.Job != undefined" class="job-monitoring">
                    <hr />
                    <h4 style="font-weight: 200; margin-top: 0em;">Job Monitoring</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="progress">
                                <div id="job-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;">{{vm.Job.info.status}}</div>
                            </div>
                            <br />
                            <div ng-show="vm.Job.info.status == 'SUCCEEDED'" class="card card-block">
                                <span>Output available at: /{{vm.Cluster.Name}}/{{vm.InputFiles[0].name + '_OUTPUT'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </form>
    </div>
</section>

<style>
.navbar {
  margin-bottom: 0;
}

.open-stack-login{
    margin-top: 1em;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 80rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
</style>