<div ng-controller="HeaderController as vm">
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<div class="container d-flex justify-content-between">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<a style="font-weight: 300;" class="navbar-brand" href="/compute">CloudCompute</a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul style="font-weight: 300;" class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/clusters">Clusters</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/jobs">Jobs</a>
		  </li>
		</ul>
	  </div>
		</div>		
	</nav>
</div>
