<section ng-controller="OpenStackController as vm" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Authenticate with OpenStack</h1>
        <p class="text-muted">You're on your way to launching a compute environment for your selected Dataset.</p>
        <form class="open-stack-login">
            <div class="form-group">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-8">
                        <input ng-model="vm.User.UserName" type="text" class="form-control" id="open-stack-username" placeholder="OpenStack Username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-8">
                        <input ng-model="vm.User.Password" type="password" class="form-control" id="open-stack-password" placeholder="OpenStack Password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-8">
                        <button ng-click="vm.AuthenticateUser()" class="btn btn-primary btn-block">Login</button>
                        <small class="os-password-note">
                            <span class="text-muted" ng-show="!vm.WarningFlag">Your information will never be saved.</span>
                            <span class="text-danger" ng-show="vm.WarningFlag">{{vm.LoginWarning}}</span>
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<style>
.navbar {
  margin-bottom: 0;
}

.open-stack-login{
    margin-top: 1em;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
</style>